.border-box-sizing * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.module-messages {
  margin: 10px; }

.alert {
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid transparent; }
  .alert.alert-error, .alert.alert-danger {
    border-color: #CE2F2F;
    color: #a42626;
    background-color: #fae9e9; }
  .alert.alert-success {
    border-color: #53C100;
    color: #3d8e00;
    background-color: #eaffdb; }
  .alert.alert-warning {
    border-color: #E57C4B;
    color: #dd5c20;
    background-color: #fceee7; }
  .alert.alert-info {
    border-color: #53A1EF;
    color: #2488eb;
    background-color: #f6fafe; }

.pad {
  overflow: hidden; }

.product-pricing {
  overflow: hidden;
  margin-top: 20px; }
  .product-pricing .currency-code {
    width: 10%;
    float: left;
    font-weight: 600;
    padding-top: 30px; }
  .product-pricing .pricing-in-currency {
    overflow: hidden; }
  .product-pricing .pricing {
    width: 90%;
    float: left; }
    .product-pricing .pricing .row {
      margin: 0; }
      .product-pricing .pricing .row .col {
        margin: 5px 0; }
        .product-pricing .pricing .row .col input {
          max-width: 100%; }
        .product-pricing .pricing .row .col.text-right {
          padding-right: 15px; }
        .product-pricing .pricing .row .col.period-setup-fee-price input {
          display: none; }
        .product-pricing .pricing .row .col.period-price input {
          display: none; }

.status-label {
  margin-top: 2px;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid lightgray; }
  .status-label.status-label-inactive {
    border-color: #CE2F2F;
    color: #a42626;
    background-color: #fae9e9; }
  .status-label.status-label-active {
    border-color: #53C100;
    color: #3d8e00;
    background-color: #eaffdb; }
  .status-label.status-label-restricted {
    border-color: #E57C4B;
    color: #dd5c20;
    background-color: #fceee7; }

.change-package-status {
  color: blue;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  background: transparent;
  text-decoration: underline; }

.separator {
  clear: both;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #eaeaea; }

label {
  width: 100%;
  display: block;
  padding-top: 7px; }

.row {
  overflow: hidden; }
  .row .col {
    float: left;
    padding: 0 5px; }
    .row .col.s2 {
      width: 16.66%; }
    .row .col.s3 {
      width: 25%; }

.ssl-conf-table {
  border: none;
  margin-top: 25px; }
.ssl-conf-table th {
  padding-bottom: 10px;
}
.ssl-conf-table td {
  padding: 7px 6px !important;
  line-height:  14px !important;}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.font-bold {
  font-weight: 600; }

.more-info {
  color: #174EBD;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  text-decoration: none; }
  .more-info:hover {
    text-decoration: underline; }

.row-margin {
  margin-bottom: 7px; }


.page-modal-cover {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s, visiblity 0.2s ease-in-out;
  -o-transition: opacity 0.2s, visiblity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s, visiblity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s, visiblity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s, visiblity 0.2s ease-in-out; }

.action-modal {
  top: 0;
  left: 15%;
  width: 70%;
  opacity: 0;
  height: auto;
  z-index: 250;
  margin-left: 0;
  min-height: 80px;
  position: relative;
  visibility: hidden;
  margin-bottom: 40px;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  transition: opacity 0.4s, top 0.4s ease-in-out;
  -o-transition: opacity 0.4s, top 0.4s ease-in-out;
  -ms-transition: opacity 0.4s, top 0.4s ease-in-out;
  -moz-transition: opacity 0.4s, top 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s, top 0.4s ease-in-out; }

.action-modal .modal-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 48px !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  padding: 14px 20px !important;
  background-color: #0F8BE6 !important;
  margin: -20px -20px 20px -20px !important; }

.action-modal .content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  margin: 0;
  opacity: 1;
  width: 100%;
  float: none;
  padding: 10px 20px 20px 20px !important; }

.action-modal .content h2 {
  margin-top: 0;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 25px; }

.action-modal .content h3 {
  font-size: 17px;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 20px; }

.action-modal .content .centered {
  text-align: center;
  display: inline-block; }

.action-modal .close-button {
  top: -4px;
  right: 10px;
  width: 30px;
  color: white;
  height: 30px;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  text-align: center; }

.action-modal .close-button:hover i {
  color: black; }

.action-modal .close-button i {
  font-size: 25px;
  color: white; }

.button {
  outline: 0;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out; }

.button .text {
  color: white !important;
  text-align: center !important;
  transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out; }

.button.loading {
  padding-left: 55px !important; }

.button.loading .preloader {
  top: 0;
  bottom: 0;
  left: 15px;
  width: 24px;
  height: 24px; }

.button[disabled] {
  opacity: 0.7;
  color: white !important;
  cursor: default !important; }

.button:hover:not([disabled]) {
  color: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35); }

.button.button--round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.button.button--success {
  background-color: #53C100; }

.button.button--info {
  background-color: #53A1EF;
}

.button.button--warning {
  background-color: #E57C4B; }

.button.button--error {
  background-color: #CE2F2F; }

.button.button--default {
  background-color: lightgray; }

.button.button--md {
  padding: 7px 20px; }

.button.button--sm {
  padding: 3px 10px;
  font-size: 1.0rem; }

.button.button--sm.loading {
  padding-left: 40px !important; }

.button.button--sm.loading .preloader {
  width: 15px;
  height: 15px; }

.button.button--xs {
  padding: 2px 7px;
  font-size: 0.9rem; }

.button.button--xs.loading {
  padding-left: 35px !important; }

.button.button--xs.loading .preloader {
  width: 12px;
  height: 12px; }

.hide {
  display: none !important; }

.loading .preloader {
  top: 0;
  left: 50%;
  bottom: 0;
  width: 32px;
  content: '';
  margin: auto;
  height: 32px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #0f8be6;
  border-top: 2px solid #fff;
  animation: rotation .6s infinite linear;
  -webkit-animation: rotation .6s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg); } }
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.select {
  background: white;
}
/*# sourceMappingURL=style.css.map */
